<h1>New Contact</h1>

<%= simple_form_for @contact do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :telephone %>
  <%= f.input :message, as: :text %>

  <%= f.button :submit %>
<% end %>
